<footer>
  <mat-card appearance="raised" class="footer-container">
    <mat-card-header>
      <mat-card-title-group style="text-align: center">
        <mat-card-title>
          Developed with
          <mat-icon style="color: red; vertical-align: bottom"
            >favorite</mat-icon
          >
          by
          <a href="https://github.com/marrafederico96" target="_blank"
            >Federico Marra</a
          >.
        </mat-card-title>
        <mat-card-subtitle>
          This is a personal hobby project. No guarantees of completeness,
          accuracy, or regular updates.
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</footer>
