<section style="margin-top: 20px">
  <mat-card appearance="raised" style="margin-bottom: 20px">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ event?.eventName }}</mat-card-title>
        <mat-card-subtitle style="padding-bottom: 16px"
          >{{ event?.startDate }} to {{ event?.endDate }}</mat-card-subtitle
        >
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-tab-group
    dynamicHeight
    mat-stretch-tabs="true"
    mat-align-tabs="start"
    animationDuration="250ms"
  >
    <mat-tab label="Expense">
      <app-expense></app-expense>
    </mat-tab>
    <mat-tab label="Member">
      <app-event-members></app-event-members>
    </mat-tab>
    <mat-tab label="Chat">
      <app-chat></app-chat>
    </mat-tab>
  </mat-tab-group>
</section>
