<mat-toolbar>
    @if(authService.isLoggedIn() && authService.userInfo() != null) {
    <a matButton="tonal" href="/">{{authService.userInfo()?.userName?.toUpperCase()}}
        <mat-icon>home</mat-icon>
    </a>
    <nav>
        <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
    </nav>
    } @else {
    <h1><a href="/" matButton>Friend Stuff</a></h1>
    <nav>

        <a matButton="tonal" href="/account/register">Register</a>
        <a matButton="tonal" href="/account/login">Login</a>
    </nav>
    }
</mat-toolbar>
<mat-divider />