.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    width: 320px;
}

mat-form-field {
    width: 100%;
}

.error {
    margin-bottom: 10px;
}

.form-link {
    font-size: 0.9rem;
    margin-top: 10px;
}

.form-link>a {
    margin-left: 5px;
}