<section style="margin: 20px 0">
  <mat-card appearance="raised" style="padding: 16px">
    <h2>Your Balance</h2>
    <mat-card appearance="outlined" style="margin: 20px 0">
      <mat-card-content>
        @if (this.nonZeroBalances.length > 0) {
        <mat-chip-set>
          @for (balance of nonZeroBalances; track balance) {
          @if(balance.balanceAmount < 0) {
          <mat-chip>
            You must recive
            <span class="balance-positive">{{
              abs(balance.balanceAmount)
            }}</span>
            from
            {{ balance.payerUsername }}
          </mat-chip>
          } @else if(balance.balanceAmount > 0) {
          <mat-chip>
            You owe
            <span class="balance-negative">{{
              abs(balance.balanceAmount)
            }}</span>
            to
            {{ balance.payerUsername }} </mat-chip
          >} }
        </mat-chip-set>
        } @else {
        <h3>No Balance yet</h3>
        }
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> Add Refund </mat-card-title>
      </mat-card-header>
      <form [formGroup]="refundForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Payer Username</mat-label>
          <input
            matInput
            placeholder="Payer username"
            type="text"
            formControlName="payerUsername"
          />
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Add Refund</mat-label>
          <input
            matInput
            placeholder="Add refund"
            type="number"
            formControlName="amountRefund"
          />
          <mat-icon matPrefix>euro</mat-icon>
        </mat-form-field>
        @if(errorRefund) {
        <mat-error>{{ errorRefund }}</mat-error>
        }
        <button matButton="tonal" [disabled]="loading()">
          @if (loading()) {
          <mat-spinner diameter="20"></mat-spinner>
          } @else { Add Refund }
        </button>
      </form>
    </mat-card>
  </mat-card>
</section>

<section style="margin-top: 10px">
  <mat-card appearance="raised" style="padding: 16px">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h2>Your Events</h2>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    @if(this.authService.userEvents().length > 0) { @for (evt of
    this.authService.userEvents(); track evt) {
    <mat-card appearance="outlined" class="card-container">
      <a matButton="outlined" href="/event/{{ evt.normalizedEventName }}">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              {{ evt.eventName.toUpperCase() }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ evt.startDate }} to {{ evt.endDate }}
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-footer>
          <mat-card-content>
            @for (user of evt.participants; track user) { @if(user.role === 0) {
            {{ user.userName }}
            <span>({{ eventService.getRole(user.role) }})</span>

            } }
          </mat-card-content>
        </mat-card-footer>
      </a>
    </mat-card>
    } } @else {
    <mat-card appearance="outlined" style="margin-top: 10px">
      <mat-card-header>
        <mat-card-title style="padding-bottom: 16px"
          >No events found.</mat-card-title
        >
      </mat-card-header>
    </mat-card>
    }
  </mat-card>
</section>
