<mat-card appearance="raised" style="margin-top: 20px;">
    <mat-card-header>
        <mat-card-title>Add Expense</mat-card-title>
    </mat-card-header>
    <mat-card style="margin: 10px;" appearance="outlined">
        <mat-card-content style="margin-top: 10px;">
            <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" style="flex: 1;">
                    <mat-label>Expense Name</mat-label>
                    <input matInput placeholder=" Expense Name" type="text" formControlName="expenseName" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="Amount" type="number" formControlName="amount" />
                </mat-form-field>
                <mat-card appearance="outlined" formArrayName="participants">
                    @for (item of indexedParticipants(); track item.participant) {
                    <mat-checkbox [formControlName]="item.index">{{ item.participant.userName }}</mat-checkbox>
                    }
                </mat-card>

                <div style="margin-left: 5px;">
                    @if (error) {
                    <mat-error style="margin-bottom: 10px;">{{error}}</mat-error>
                    }
                    <button matButton="filled" type="submit" [disabled]="loading()">
                        @if(loading()) {
                        <mat-spinner diameter="20"></mat-spinner>
                        } @else {
                        Add
                        }</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</mat-card>

<mat-card appearance="raised" style="margin-top: 20px;">
    <mat-card-header>
        <mat-card-title>
            Expenses
        </mat-card-title>
    </mat-card-header>
    @if (expenses().length > 0) {
    @for (expense of expenses(); track expense) {
    <mat-card style="margin: 10px;" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                <mat-chip>
                    {{ expense.expenseName.toLocaleUpperCase() }}
                    {{ expense.payerUsername }} paid {{ expense.amount }}
                </mat-chip>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-set style="margin-top: 8px;">
                @for (participant of expense.expenseParticipant; track participant) {
                <mat-chip style="margin-right: 6px;">
                    {{ participant.userName }} owed {{participant.amountOwed}}
                </mat-chip>
                }
            </mat-chip-set>
        </mat-card-content>
    </mat-card>
    }
    } @else {
    <mat-card>
        <mat-card-header>
            <mat-card-title style="padding-bottom: 16px;">No expense found.</mat-card-title>
        </mat-card-header>
    </mat-card>
    }
</mat-card>